.body {
    background-color: #a9a3a3;
    display: block;
    margin: 8px;
}

.prefButtons {
    background-color:  #689c90;
	border-radius: 5%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
	width: 100%;
    display: inline-block;
    font-size: 15px;
}

div.form{
	
	display: block;
	margin: auto;
    width: 40%;
	
}


.form {
	
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color:  #b6c5c5;
	border-radius: 3%;
	min-width: 500px;

}


h1 {
	
	text-align: center;
	font-size: 2em;
    margin-bottom: 10px;
    font-weight: 600;
}

.number {
	
	background-color: #689c90;
	color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.9em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 90%;
  background-color: #a3b1b3;
  color: *#8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
} 

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 4px 0;

}

#button, #suggestsubmit {
	
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #689c90;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #689c90;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

#reset{
	
  padding: 10px 10px 10px 10px;
  color: #FFF;
  background-color: #689c90;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 10%;
  border: 1px solid #689c90;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin: auto;
}

legend {
  
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 600;
}

.h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

#light {
  font-weight: 600;
  display: inline;
}

hr {
	
	width: 100%;
	height: 3px;
	background: #689c90;
	border: none;
}

.message {
	background-color:#990000;
	border-radius:4px;
	padding:1.5rem;
	color:#fff;
		
	}

.error {
	margin: auto;
}

fieldset {
	
	border-style: hidden;
}

.table {
	
	width: 100%;
	white-space: normal;
	line-height: normal;
	font-size: medium;
	font-style: normal;
	border-collapse: separate;
  table-layout: fixed;
}


th,td {
	 /* 
	text-align: left;
  width: 100px;
 border: 1px solid black; */
}

 a:link {
    /*background-color:  #85a3e0; */
    color: white;
    padding: 3px 10px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 15%;
    width: 83%;
	
}

a:hover, a:active {
    background-color: grey;
}

ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline;
	margin: 0;
	padding: 0;
}

#mainlinks {
	
	font-size: 1.2em;
  color: white;
}

.section {
	background-color:#648e8e;
	text-align: center;
	max-width: 800;
	margin: auto;	
}

#sitename {
	
	font-style: georgian;
	font-size: 3em;
    margin-bottom: 10px;
    font-weight: 600;
}

.hidden {
	
	border-style: hidden;
	border-radius: 10px;
}
